:root {
	--color-white: #FFFFFF;
	--color-black: #000;
	--color-dark: #343a40;
	--color-gray: #ededed96;
	--color-dark-blue: #192533;
	--color-orange: #ff5001;
	--color-violet: #c258f9;
	--color-blue: #00A5CD;
	--color-invalid: #dc3232;
    --font-inter: "Inter", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}