.main-screen {
    position: relative;
    background: url('../img/main-screen/main-screen-bg.jpg') no-repeat center right;
    background-size: cover;
    padding: 200px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mobile-block {
        padding: 200px 0 100px;
        justify-content: flex-start;
    }
    @include mobileXS(justify-content, center);
}

.main-screen::before {
    @include mobile-block {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.main-screen__title-ext {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: black;
    background: var(--color-white);
    border-radius: 10px;
}

.main-screen__title-ext::before {
    content: attr(data-num);
    position: absolute;
    color: var(--color-black);
    top: 3px;
    left: 14px;
    font-size: responsive 10px 12px;
    font-range: 360px 1200px;
}

.main-screen__date {
    margin-top: 80px;
}

.main-screen__date ~ .main-screen__date {
    margin-top: 30px;
}

.main-screen__actions{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.main-screen__text {
    width: max-content;
    position: relative;
    z-index: 10;
}

//.main-screen__lines {
//    height: 100%;
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    // overflow: hidden;
//    pointer-events: none;
//    right: 0;
//    top: 150px;
//    z-index: 0;
//}